<div class="loginform">
  <% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>
  <%= form_tag "/login", method: :post do %>
  <fieldset>
      <legend>Please Log In</legend>
  <div class="control-group">
    <div class="controls">
      <%= text_field_tag :name, params[:name], placeholder: "User ID", class: "input-block-level" %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
	  <%= password_field_tag :password, params[:password], placeholder: "Password", class: "input-block-level" %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= submit_tag "Sign in", class: "btn" %>
    </div>
  </div>
  </fieldset>
  <% end %>
</div>