<div class="container">
	<div class="row big-spacer">
		<div class="span3">
			<%= image_tag("asset_types/notebook-icon.png") %>
		</div>
		<div class="span3">
			<%= image_tag("asset_types/monitor-icon.png") %>
		</div>
		<div class="span3">
			<%= image_tag("asset_types/server-icon.png") %>
		</div>
		<div class="span3">
			<%= image_tag("asset_types/phone-icon.png") %>
		</div>
	</div>
	<div class="row big-spacer">
		<div class="span3">
			<%= image_tag("asset_types/printer-icon.png") %>
		</div>
		<div class="span3">
			<%= image_tag("asset_types/datacard-icon.png") %>
		</div>
		<div class="span3">
			<%= image_tag("asset_types/modem-icon.png") %>
		</div>
		<div class="span3">
			<%= image_tag("asset_types/workstation-icon.png") %>
		</div>
	</div>
</div>