
	<div class="row-fluid big-spacer">
		<%= render(
			partial: 'asset_types/asset_type', 
			object: find_asset_type("Laptop", @asset_types), 
			locals: { img_url: "asset_types/notebook-icon.png"}) %>
		<%= render(
			partial: 'asset_types/asset_type', 
			object: find_asset_type("Monitor", @asset_types), 
			locals: { img_url: "asset_types/monitor-icon.png"}) %>
		<%= render(
			partial: 'asset_types/asset_type', 
			object: find_asset_type("Server", @asset_types), 
			locals: { img_url: "asset_types/server-icon.png"}) %>
		<%= render(
			partial: 'asset_types/asset_type', 
			object: find_asset_type("Workstation", @asset_types), 
			locals: { img_url: "asset_types/workstation-icon.png"}) %>
	</div>
	<div class="row-fluid big-spacer">
		<%= render(
			partial: 'asset_types/asset_type', 
			object: find_asset_type("Data Card", @asset_types), 
			locals: { img_url: "asset_types/datacard-icon.png"}) %>
		<%= render(
			partial: 'asset_types/asset_type', 
			object: find_asset_type("Network Devices", @asset_types), 
			locals: { img_url: "asset_types/modem-icon.png"}) %>
		<%= render(
			partial: 'asset_types/asset_type', 
			object: find_asset_type("Communication Equipments", @asset_types), 
			locals: { img_url: "asset_types/phone-icon.png"}) %>
		<%= render(
			partial: 'asset_types/asset_type', 
			object: find_asset_type("Media", @asset_types), 
			locals: { img_url: "asset_types/cd-icon.png"}) %>
	</div>