<div id="retainAssetDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= form_for(AssetAllocationHistory.new, :remote => true) do |f| %>
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h3 id="myModalRetainLabel">Release Asset</h3>
	</div>
	<div class="modal-body">
		<div id="assetRetainmentSuccess" class="alert alert-success">
			<a class="close" data-dismiss="alert">×</a>
			<div id="flash_notice">Asset released successfully!</div>
	    </div>
	    <div id="error_explanation_retain" class="alert alert-error">
	    </div>
		<div class = "row-fluid">
			<p><b>Asset type: </b><span id = "assetTypeToBeRetained"></span></p>
			<p><b>Serial#: </b><span id = "assetSerialNoToBeRetained"></span></p>
			<p><b>Employee Name: </b><span id = "assetAssignedEmployeeName"></span></p>
			<p><b>Employee Id: </b><span id = "assetAssignedEmployeeId"></span></p>
			<p><b>Assigned date(DD/MM/YYYY): </b><span id = "assetAssignedDate"></span></p>
		</div>
		<div class="field" ><%= f.label :returned_date %><%= f.text_field :returned_date, id: 'returned_date', readonly: 'true' %></div>
		
		<%= hidden_field :asset_allocation_history, :asset_id, id: 'retain_asset_id'  %>
		
	</div>
	<div class="modal-footer">
		<%= f.submit "Save", class: "btn btn-primary", "id" => "retainAssetButton" %>
		<input type="button" value="Close" class="btn" data-dismiss="modal" aria-hidden="true" id = "retainAssetCloseButton">
	</div>
  <% end %>
</div>