<%= form_for(@asset) do |f| %>

  <% if @asset.errors.any? %>
    <div class="alert alert-error">
      <ul>
      <% @asset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<div class="row-fluid">
  <div class="field span4">
    <%= f.label :asset_id, class: "mandatory" %>
    <%= f.text_field :asset_id, class: "input-block-level", placeholder: "e.g. RDEN123", maxlength: 20 %>
  </div>
  <div class="field span4">
    <%= f.label :asset_type_id %>
    <%= select("asset", "asset_type_id", AssetType.all.collect { |a| [ a.name, a.id ] }, {}, { class: "input-block-level"}) %>
  </div>
  <div class="field span4">
    <%= f.label :serial_number, class: "mandatory" %>
    <%= f.text_field :serial_number, class: "input-block-level", placeholder: "e.g. HP1234X45", maxlength: 25 %>
  </div>
</div>
<div class="row-fluid">
  <div class="field span4">
    <%= f.label :purchase_date, class: "mandatory" %>
    <div class="input-append date" id="purchase_date">
      <%= f.text_field :purchase_date, readonly: 'true', class: "input-block-level" %>
    </div>
  </div>
  <div class="field span4">
    <%= f.label :release_date %>
    <div class="input-append date" id="release_date">
      <%= f.text_field :release_date, readonly: 'true', class: "input-block-level" %>
    </div>
  </div>
  <div class="field span4">
    <%= f.label :operating_system %>
    <%= f.text_field :operating_system, class: "input-block-level", placeholder: "e.g. Windows 7 or XP", maxlength: 15 %>
  </div>
</div>
<div class="row-fluid">
  <div class="field span12">
    <%= f.label :description %>
    <%= f.text_area :description, rows: 3, class: "input-block-level"%>
  </div>
</div>
<div class="row-fluid">
  <div class="field span4">
    <%= f.label :manufacturer %>
    <%= f.text_field :manufacturer, class: "input-block-level", placeholder: "e.g. HP, DELL", maxlength: 20 %>
  </div>
  <div class="field span4">
    <%= f.label :make_year, class: "mandatory" %>
    <%= f.text_field :make_year, class: "input-block-level", placeholder: "e.g. 2012", maxlength: 4 %>
  </div>
  <div class="field span4">
    <%= f.label :model %>
    <%= f.text_field :model, class: "input-block-level", placeholder: "e.g. 8470p", maxlength: 15 %>
  </div>
</div>
<div class="row-fluid">
  <div class="field span4">
    <%= f.label :asset_image %>
    <%= f.text_field :asset_image, class: "input-block-level", placeholder: "e.g. /hp8470p.jpg", maxlength: 25 %>
  </div>
  <div class="field span4">
    <%= f.label :asset_documents %>
    <%= f.text_field :asset_documents, class: "input-block-level", placeholder: "e.g. assignment.zip", maxlength: 25 %>
  </div>
  <div class="field span4">
    <%= f.label :display_size %>
    <%= f.text_field :display_size, class: "input-block-level", placeholder: "e.g 17", maxlength: 10 %>
  </div>
</div>
  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
 </div>
<% end %>
