<%if @assets.empty?%>
<center>No Records</center>
<%else%>
<table class="table table-hover">
	<thead>
		<tr>
			<th class="asset_type">Type</th>
			<th class="description hidden-phone">Description</th>
			<th class="mfg hidden-phone">Mfg.</th>
			<th class="serial">Serial #</th>
			<th class="action">Action</th>
		</tr>
	</thead>
	<tbody>
		<% @assets.each do |asset| %>
		<tr url="<%= asset_path(asset) %>">
			<td class="clickable"><%= asset.asset_type.name %></td>
			<td class="clickable hidden-phone"><%= asset.description %></td>
			<td class="clickable hidden-phone"><%= asset.manufacturer %></td>
			<td class="clickable"><%= asset.serial_number %></td>
			<td>
				<%= link_to raw('<i class="icon-edit"></i>'), edit_asset_path(asset)%>
				<%= link_to raw('<i class="icon-user"></i>'), asset, "id" => "retainAsset#{asset.id.to_s}", "class" => "retainAsset", "data-toggle" => "modal", "role" => "button", "href" => "#retainAssetDialog" %>
				<%= link_to raw('<i class="icon-trash"></i>'), asset, "id" => "deleteAsset#{asset.id.to_s}", "class" => "deleteAsset", method: :delete, data: { confirm: 'Are you sure?' } %>
				<%= link_to raw('<i class="icon-plus-sign"></i>'), asset, "id" => "assignAsset#{asset.id.to_s}", "class" => "assignAsset", "data-toggle" => "modal", "role" => "button", "href" => "#assignAssetDialog" %>
				<%= hidden_field :asset, asset.id.to_s, "value" => asset.id.to_s, "class" => "assetId"  %>
				<%= hidden_field :asset, "#{asset.id.to_s}#{asset.serial_number}", "value" => asset.asset_assignment.nil?, "class" => "isAssetUnassigned"  %>
				<%if asset.asset_assignment.nil?%>
				<%= hidden_field :asset, "assigneeName#{asset.id.to_s}", "value" => "", "class" => "assigneeName"  %>
				<%= hidden_field :asset, "assigneeId#{asset.id.to_s}", "value" => "", "class" => "assigneeId"  %>
				<%= hidden_field :asset, "assignedDate#{asset.id.to_s}", "value" => "", "class" => "assignedDate"  %>
				<%else%>
				<%= hidden_field :asset, "assigneeName#{asset.id.to_s}", "value" => asset.asset_assignment.assignee_name, "class" => "assigneeName"  %>
				<%= hidden_field :asset, "assigneeId#{asset.id.to_s}", "value" => asset.asset_assignment.assignee_id, "class" => "assigneeId"  %>
				<%= hidden_field :asset, "assignedDate#{asset.id.to_s}", "value" => asset.asset_assignment.assigned_date, "class" => "assignedDate"  %>
				<%end%>
			</td>
		</tr>
		<% end %>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="5">
				<span class="page-size">
				<%= select_tag(
					:per_page,
					options_for_select([10,20,50], params[:per_page] == nil ? 10 : params[:per_page]),
					onchange: "if(this.value){window.location='?per_page='+this.value;}") %>
				</span>
				<span>
				<%= will_paginate(
					@assets, 
					class: 'pagination pagination-right pagination-small', 
					renderer: BootstrapPagination::Rails,
					previous_label: '<i class="icon-chevron-left"></i>',
					next_label: '<i class="icon-chevron-right"></i>',
					page_links: false,
					show_always: true) || render(partial: '/assets/fake_pagination') %>
				</span>
			</td>
		</tr>
	</tfoot>
</table>
<%end%>

<%= render partial: 'asset_assignments/assetAssignment' %>
<%= render partial: 'asset_allocation_histories/assetRetainment' %>

