<%if @assets.empty?%>
<center>No Records</center>
<%else%>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Type</th>
			<th class="hidden-phone">Description</th>
			<th class="hidden-phone">Mfg.</th>
			<th>Serial #</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<% @assets.each do |asset| %>
		<tr>
			<td><%= asset.asset_type.name %></td>
			<td class="hidden-phone"><%= asset.description %></td>
			<td class="hidden-phone"><%= asset.manufacturer %></td>
			<td><%= asset.serial_number %></td>
			<td>
				<%= link_to raw('<i class="icon-pencil"></i>'), asset %>
				<%= link_to raw('<i class="icon-edit"></i>'), edit_asset_path(asset)%>
				<%= link_to raw('<i class="icon-trash"></i>'), asset, method: :delete, data: { confirm: 'Are you sure?' } %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
<%end%>


