<h1>Listing assets</h1>

<table cellpadding="0" cellspacing="0" border="0" class="display" id="asset_table">
	
	<thead>
	  <tr>
	  	<th width="5%">Id</th> 
		<th>Id</th>
		<th>Asset</th>
		<th>Type</th>
		<th></th>
		<th></th>
		<th></th>
	  </tr>
	</thead>
	<tbody>
	<% @assets.each do |asset| %>
	  <tr>
	  	<td width="1%">
	        <img class="ui-icon ui-icon-circle-plus">
	    </td>
	    <td><%= asset.id %></td>
  	    <td>
	    	<%= asset.asset_id %>
	    	<%
	    		tempVar = "Manufacturer:"  + asset.manufacturer + "\n"
	    		tempVar = tempVar + "Description:" + asset.description + "\n" 
	    		# tempVar = tempVar + Date::strptime(asset.purchase_date, "%d-%m-%Y")  + "\n" 
	    		# tempVar = tempVar + Date::strptime(asset.release_date, "%d-%m-%Y")  + "\n" 
	    		tempVar = tempVar + "Documents:"  + asset.asset_documents + "\n" 
	    		tempVar = tempVar + "Serial Number:"  + asset.serial_number + "\n" 
	    		tempVar = tempVar + "Model:"  + asset.model + "\n" 
	    		# tempVar = tempVar + "Make Year:" + asset.make_year + "\n" 
	    		tempVar =  tempVar  + "Display Size:"  + asset.display_size + "\n" 
	    		tempVar =  tempVar + "OS:"+ asset.operating_system + "\n"
	    		
	    	%>
	    	<input type="hidden" id="assetdesc_<%= asset.id %>" value="<%=tempVar%>"/>
	    </td>
	    <td><%= asset.asset_type %></td>
	    <td><%= link_to 'Show', asset %></td>
	    <td><%= link_to 'Edit', edit_asset_path(asset) %></td>
	    <td><%= link_to 'Destroy', asset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  </tr>
	<% end %>
	
	</tbody>

</table>

<br />

<%= link_to 'New Asset', new_asset_path %>
