<p id="notice">
	<%= notice %>
</p>

<div class="row-fluid">
	<div class="span10"></div>
	<div class="span2">
		<%= link_to 'Back To Listing >>', assets_path %>
	</div>
</div>


<div class="row-fluid">
	<div class="span10"></div>
	<div class="span2">
		<%= link_to 'Edit', edit_asset_path(@asset)%>
	</div>
</div>

<div class="row-fluid" id="assetShowBodyHeading">
	<div class="span10">
		<h1><%= @asset.asset_id %><h1>
	</div>
	<div class="span2">
		<h2><%= @asset.asset_type.name %></h2>
	</div>
</div>



<div class="row-fluid">
	<div class="span4" id="assetShowBodyFirstPart">
		<p>
			<b>Manufacturer:</b>
			<%= @asset.manufacturer %>
		</p>
		<p>
			<b>Description:</b>
			<%= @asset.description %>
		</p>
		<p>
			<b>Serial number:</b>
			<%= @asset.serial_number %>
		</p>

	</div>
	<div class="span4">
		<p>
			<b>Purchase date:</b>
			<%= @asset.purchase_date %>
		</p>
		<p>
			<b>Asset Status:</b>
			NOT ASSIGNED
		</p>
		<p>
			<b>Documents Ref:</b>
			<%= @asset.asset_documents %>
		</p>
	</div>
	<div class="span4">
		<img src="<%= @asset.asset_image %>" />
	</div>
</div>

