<% if session[:user_name] != nil %>
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
		<ul class="nav">
			<li <% if @page=="home" %> class="active" <% end %>>
				<%= link_to "Home", "/home" %>
			</li>
			<li class="dropdown <% if @page=="asset" %>active<% end %>">
				<a class="dropdown-toggle" href="<%=assets_path%>">Asset</a>
				<ul class="dropdown-menu">
					<li><%= link_to "Create Asset", new_asset_path %></li>
					<li><a href="#">Asset Types</a></li>
					<li><a href="#">Asset States</a></li>
          			<li><%= link_to "Assets Bulk Upload", new_asset_import_path %></li>
          			<li><%= link_to "Download as CSV", download_assets_path(format: :csv) %></li>
				</ul>
			</li>
			<li class="dropdown <% if @page=="allocations" %>active<% end %>">
				<a class="dropdown-toggle" href="#">Allocations</a>
				<ul class="dropdown-menu">
					<li><%= link_to "Assets - by Employee", by_employee_assets_path %></li>
					<li><%= link_to "Assets - by Unassigned", unassigned_assets_path %></li>
				</ul>
			</li>
		</ul>
		</div>
	</div>
</div>
<% end %>
