<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title><%= content_for?(:title) ? yield(:title) : "Rearden - Asset Management System" %></title>
		<meta name="description" content="">
		<meta name="author" content="">
		<%= stylesheet_link_tag   "ams" ,"application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<link rel="shortcut icon" type="image/x-icon" href="assets/rearden.ico"/>
		<%= yield(:head) %>
	</head>
	<body>
		<div class="container body">
			<div class="masthead">
				<div class="row-fluid logoRow">
					<div class="span5" id="logo">
						<a href="reardencommerce.com"><%= image_tag "rearden_commerce.png" %></a>
					</div>
					<div class="span7">
						<div class="headerLeft">
						<div>Welcome <strong><%= "#{session[:user_name]}" %></strong> (<%= link_to 'Logout', logout_path, method: :delete %>)</div>
						<h3>Asset Management System</h3>
						</div>
					</div>	
				</div>
				<%= render 'layouts/navigation' %>
			</div>
			
			<div class="container" id="mainBody">
				<%= render 'layouts/messages' %>
				<%= yield %>
				<footer></footer>
			</div>
			<!--! end of .container -->
		</div>
		<!--! end of #main -->
	</body>
</html>
